# Everything needed to develop (test, debug) the framework.
# The runtime dependencies of the framework, as if via `pip install kopf`.
-e .
async-timeout
codecov
coverage
coveralls
isort
mypy==1.16.0
pre-commit
pytest
pytest-asyncio<1.0.0
pytest-cov
pytest-mock
